{% extends 'login-layout.twig' %}

{% block content %}

<h2>Error: 404 (Not Found)</h2>
<p>The calendar is invalid.</p>
<p>Please return to the <a href='{{ path_for('user-calendars') }}'>account dashboard</a> and recreate your calendar URL.</p>


{% endblock %}