{% extends 'layout.twig' %}

{% block content %}

<div class="row">

  <div class="col-md-3">

    <div class="box box-primary">
      <div class="box-body box-profile">

        <h3 class="profile-username text-center">{{ group.name }}</h3>
        <div class="text-muted text-center">{{ group.description | markdown }}</div>
        <a href="" class="btn btn-primary btn-block" data-toggle="modal" data-target="#group{{ group.id }}"><b>Edit</b></a>
        {% include 'group-edit-modal.twig' %}
      </div>
    </div>

    {% include 'roles-list-box.twig' %}

  </div>

  <div class="col-md-9">
    {% include 'events-upcoming-table.twig' %}
  </div>

</div>

{% endblock %}