{% extends 'login-layout.twig' %}

{% block content %}

<div class="form form--login">
  <p>Thanks {{ firstname }},</p>
  <p>Your account has been requested and sent to an administrator for approval.</p>
  <p>You shall recieve an email once your account has been approved.</p>
</div>

{% endblock %}