<div class="box box-primary">
  <div class="box-header with-border">
    <h2 class="box-title">Available roles</h2>
  </div>
  <div class="box-body">
    {% if roles.count == 0 %}
    <p class="text-red">There are no roles</p>
    {% endif %}
    {% for group, roles in roles|sort_by(=> _.group.name)|group_by(=> _.group, 'ASC') %}
    <p><strong>{{ group.name }}</strong></p>
    <ul>
      {% for role in roles|sort_by(=> _.name) %}
      <li>{{ role.name }}</li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div><!-- /.box-body -->
  <div class="box-footer">
    <a href="#" class="btn btn-primary">Edit roles</a>
  </div>
</div><!-- /.box -->
