{% extends 'layout.twig' %}

{% block content %}

<form action="{{ path_for('user-password-post', { 'id': user.id }) }}" method="post">

{% if message %}
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h4><i class="icon fa fa-info"></i> Password not changed.</h4>
  <p>{{ message }}</p>
</div>
{% endif %}
  <div class="box box-primary">
    <div class="box-body">
      <div class="form-group">
        <label for="existing">Existing Password:</label>
        <input class="form-control" name="existing" id="existing" type="password" placeholder="Enter your existing password" />
      </div>

      <div class="form-group">
        <label for="new">New Password:</label>
        <input class="form-control" name="new" id="new" type="password" placeholder="Enter your new password" />
      </div>
      <div class="form-group">
        <label for="confirm">Confirm New Password:</label>
        <input class="form-control" name="confirm" id="confirm" type="password" placeholder="Enter your new password, again" />
      </div>
  </div>
  <div class="box-footer">
      <a href="{{ path_for('users') }}" class="btn btn-outline text-red">Cancel</a>
      <input class="btn btn-primary" type="submit" value="Save" />
    </div>
</form>

{% endblock %}